.idea
build
cmake-build-debug
cmake-build-release
xcode
html
bin
lib
msc
darwin
linux
git-revision.h
ssl_cert.csr
ssl_cert.key
ssl_cert.pem
*~
set_env.sh
*.egg-info
*.pyc
examples/experiment/*.o
midas.srctrl*
MidasConfig.cmake
cmake-build-*
