
make runtest will create an empty experiment and run some basic tests

rm -f exptab
rm -rf testexpt
mkdir testexpt
echo testexpt PWD/testexpt testuser > exptab

export MIDASSYS=PWD
export MIDAS_EXPTAB=PWD/exptab

MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/odbinit
Checking environment... experiment name is "", remote hostname is ""
Checking command line... experiment "", cleanup 0, dry_run 0, create_exptab 0, create_env 0
Checking MIDASSYS......PWD
Checking exptab... experiments defined in exptab file "PWD/exptab":
0: "testexpt" <-- selected experiment

Checking exptab... selected experiment "testexpt", experiment directory "PWD/testexpt/"

Checking experiment directory "PWD/testexpt/"
Good: no ODB save file

Checking shared memory...
Deleting old ODB shared memory...
[system.cxx:1052:ss_shm_delete,ERROR] shm_unlink(SHM)
Good: no ODB shared memory
Deleting old ODB semaphore...
Deleting old ODB semaphore... create status 1, delete status 1

Checking ODB size...
Requested ODB size is 0 bytes (0.00B)
ODB size file is "PWD/testexpt//.ODB_SIZE.TXT"
ODB size file "PWD/testexpt//.ODB_SIZE.TXT" does not exist, creating it...
Saved ODB size from "PWD/testexpt//.ODB_SIZE.TXT" is 1048576 bytes (1.05MB)
We will initialize ODB for experiment "testexpt" on host "" with size 1048576 bytes (1.05MB)

Creating ODB...
Creating ODB... db_open_database() status 302
Saving ODB...
Saving ODB... db_close_database() status 1
Connecting to experiment...

Connected to ODB for experiment "testexpt" on host "" with size 1048576 bytes (1.05MB)
Checking experiment name... status 1, found "testexpt"
Disconnecting from experiment...

Done
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/odbedit -c "ls -l"
Key name                        Type    #Val  Size  Last Opn Mode Value
---------------------------------------------------------------------------
Experiment                      DIR
System                          DIR
Programs                        DIR
Logger                          DIR
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/mhttpd -D
Becoming a daemon...
sleep 1
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./build/examples/experiment/frontend -D
Frontend name          :     Sample Frontend
Event buffer size      :     10485760
User max event size    :     1048576
User max frag. size    :     5242880
# of events per buffer :     10


Becoming a daemon...
sleep 1
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/mlogger -D
Becoming a daemon...
sleep 1
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/odbedit -c "scl"
Name                Host
mhttpd              localhost           
Sample Frontend     localhost           
Logger              localhost           
ODBEdit             localhost           
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/mtransition START
[mtransition,INFO] Run #1 started
sleep 2
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/mtransition STOP
[mtransition,INFO] Run #1 stopped
sleep 1
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/mtransition START
[mtransition,INFO] Run #2 started
sleep 2
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/mtransition STOP
[mtransition,INFO] Run #2 stopped
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/mhist -l

Event 'System'
0: Trigger per sec.
1: Trigger kB per sec.

Event 'Periodic'
0: PRDC[16]
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/mhdump -L testexpt/*.hst
Event 101, "System", size 80, 2 tags.
  Tag 0: "Trigger per sec."[1], type "DOUBLE" (10), type size 8, offset 0+8
  Tag 1: "Trigger kB per sec."[1], type "DOUBLE" (10), type size 8, offset 8+8
Event 0, "Run transitions", size 80, 2 tags.
  Tag 0: "State"[1], type "UINT32" (6), type size 4, offset 0+4
  Tag 1: "Run number"[1], type "UINT32" (6), type size 4, offset 4+4
Event 2, "Periodic", size 40, 1 tags.
  Tag 0: "PRDC"[16], type "UINT32" (6), type size 4, offset 0+64
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/odbedit -c "sh \"sample frontend\""
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/odbedit -c "sh logger"
MIDASSYS=PWD MIDAS_EXPTAB=PWD/exptab ./bin/odbedit -c "sh mhttpd"
cut -b25- < testexpt/midas.log | sed 's/checksum: 0x.*, .* bytes/checksum: (omitted)/'
[system.cxx:1052:ss_shm_delete,ERROR] shm_unlink(SHM)
[ODBInit,LOG] Program ODBInit on host localhost started
[mhttpd,LOG] Program mhttpd on host localhost started
[mhttpd,INFO] ODB subtree /Runinfo corrected successfully
[Sample Frontend,LOG] Program Sample Frontend on host localhost started
[Logger,LOG] Program Logger on host localhost started
[Logger,INFO] Equipment "Periodic" history is enabled, but there are no Variables in ODB
[Logger,INFO] Equipment "Periodic" history is enabled, but there are no Variables in ODB
[mtransition,INFO] Run #1 started
[Logger,LOG] File 'PWD/testexpt/run00001.mid' CRC32C checksum: (omitted)
[Logger,LOG] File 'PWD/testexpt/run00001.mid.lz4' CRC32C checksum: (omitted)
[mtransition,INFO] Run #1 stopped
[mtransition,INFO] Run #2 started
[Logger,LOG] File 'PWD/testexpt/run00002.mid' CRC32C checksum: (omitted)
[Logger,LOG] File 'PWD/testexpt/run00002.mid.lz4' CRC32C checksum: (omitted)
[mtransition,INFO] Run #2 stopped
